[Unit]
Description=The UP Media Celery Main and HLS Worker
After=network.target redis-server.service
Requires=redis-server.service

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/theupmedia
Environment="DJANGO_SETTINGS_MODULE=theupmedia.settings"
ExecStartPre=+/usr/bin/install -d -o www-data -g www-data -m 0755 /var/www/theupmedia/media/live-tv
ExecStartPre=+/usr/bin/install -d -o www-data -g www-data -m 0755 /var/www/theupmedia/media/live-tv/videos
ExecStartPre=+/usr/bin/install -d -o www-data -g www-data -m 0755 /var/www/theupmedia/media/live-tv/hls
ExecStartPre=+/usr/bin/install -d -o www-data -g www-data -m 0755 /var/www/theupmedia/media/live-tv/hls/.locks
ExecStart=/var/www/theupmedia/env/bin/celery -A theupmedia worker --loglevel=INFO --concurrency=1 --queues=celery,hls --hostname=hls@%%h
Restart=always
RestartSec=10
Nice=0
CPUWeight=100

[Install]
WantedBy=multi-user.target
