[Unit]
Description=The UP Media Celery Render Worker
After=network.target redis-server.service
Requires=redis-server.service

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/theupmedia
Environment="DJANGO_SETTINGS_MODULE=theupmedia.settings"
ExecStart=/var/www/theupmedia/env/bin/celery -A theupmedia worker --loglevel=INFO --concurrency=1 --queues=celery
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
